aniso8601==9.0.1
attrs==21.2.0
click==7.1.2
colorama==0.4.4
Flask==1.1.4
flask-restplus==0.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-core==4.7.1
MarkupSafe==2.0.1
parso==0.8.2
peewee==3.14.4
prompt-toolkit==3.0.18
pycparser==2.20
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
pywin32==300
pyzmq==22.0.3
six==1.16.0
tornado==6.1
traitlets==5.0.5
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.1
